/* This is for the index.html page. */
body {
  background-color: lightblue;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}
p {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: fit-content;
}

/* This is for the California Roll recipe. */
.california-header {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 16px;
}
